#root {
  max-width: 1280px;
  text-align: center;
}

.card {
  width: 100vw;
  max-width: 16em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 1em #00000022;
  transition: box-shadow 300ms;
}